@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul li{
	list-style: none;
}

#boardWrap {
	width: 1300px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    bottom: 20px;
}

/* 지도 이미지 */
#map {
	width: 150px;
	margin-right: 50px;
	position: relative;
	top: 70px;
}

/* 주소선택 바 */
#addrBar {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.addrBtn {
	text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
    padding: 10px 60px;
    background-color: white;
	color : #A8A8A8;
    border: none;
    border-bottom: solid 7px #F1F1F1;
	
}
.addrBtn:hover {
	border-bottom: solid 7px #84C0E9;
	color: black;
}
.thisclick {
	border-bottom: solid 7px #84C0E9;
	color: black;
	
}
/* 검색 바 */
#findBar {
	margin-top: 50px;
}
#findBar input{
	width: 150px;
	height: 30px;
	padding: 5px 10px;
}
#findBar select{
	width: 70px;
	height: 30px;
    padding: 0 5px;
}

/*검색 바 -직접 검색*/
#findBar #directSearch{
	float: right;
	margin-right: 50px;
}
#findBar #directSearch input:last-child{
	width: 60px;
    height: 32px;
    color: white;
    position: relative;
    top: 1.5px;
	background-color: #84C0E9;
	border-radius: 5px;
	border: 1px;	
    font-size: 16px;
}

/* 게시판 */
#list {

}
#list ul{
	width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
/* 게시물 속 사진 */
.petImg {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 10px;
	margin-top: -12px;
	margin-right: 20px;
    border-radius: 10px;
	/* border: solid 2px #84C0E9;
	border-radius: 10px; */
}

#list li {
	display:inline-block;
	margin: 30px;
	width: 500px;
	height: 200px;
	border: solid 2px #EBD6EB;
	border-radius: 10px;
    transition:all 0.4s;
}
#list li:hover {	
    transition:all 0.4s;
}
#list li:hover .petImg{
	width: 200px;
	height:200px;
    transition:all 0.4s;
}
#list a{
	display: block;
}


.petContent {
	text-align: left;
	margin-top: 20px;
}

#petAddr{
	color: #37419A;
	font-weight: bold;
}

#boardTitle{
	font-weight: bold;
    font-size: 18px;
    display: flow-root;
    padding-right: 10px;
}
#add {
   position: relative;
   left: 550px;
   height: 50px;
   width: 100px;
   font-size: 20px;
   color: white;
    margin-top: 20px;
   font-weight: bolder;
   background-color: #84C0E9;
   border-radius: 5px;
   border: 1px;   
    cursor: pointer;
 }
span {
	color: #84C0E9;
    padding: 0 10px;
    font-size: 16px;
}
/*페이징 바*/
.page1{
	margin-top: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px 5px;
}
.page2{
	display: inline-block;
    margin: 30px;
}
.page2 a{
     display: inline-block;
    background-color: #DBAADB;
    color: white;
    font-weight: 900;
    font-size: 20px;
    padding: 20px;
    width: 50px;
    margin: 5px;
    height: 50px;
    line-height: 9px;
    border-radius: 10px;
}
.page2 a.ispage{
    pointer-events: none;
    cursor: default;
    background-color: #EBD6EB;
}

.page3{
	margin-top: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px 5px;
}

/*이전, 다음*/
.next{
	font-size: 35px;
    position: relative;
    color: #DBAADB;
    top: 6px;
}
