@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
#writeWrap{
	min-height: 900px;
	width:1300px;
	margin: 50px auto;
}
form {
	width: 60%;
	margin: 0 auto;
}
li {
	list-style: none;
	
}
/* 게시판글씨, 등록버튼 */
#titleBar {
	border-bottom: solid gray 2px;
	 padding-bottom: 10px;
}

#titleBar label{
	font-size: 30px;
	font-weight: bold;
}

#titleBar input{
	border: 1px;
	color: white;
	font-weight: bold;
	background-color: #84C0E9;
	border-radius: 5px;
	width: 80px;
	height: 40px;
    font-size: 17px;
	float: right;
}

/* 게시판 제목 */
input#boardTitle{
	margin-top: 20px;
	width: 100%; 
    padding: 10px 20px;
}

/* 주소 및 견/묘 선택 */
#addrBar {
	margin: 20px 20px 20px 0;
}

#addrBar label {
	font-weight: bold;
	padding-right: 20px;
}

#addrBar select {
	margin-right: 50px;
	width: 70px;
    padding: 0 5px;
}

/* 게시판 내용 */
#contentBar {
	margin-top: 10px;
}
textarea#boardContent{
    width: 100%;
    padding: 20px;
    min-height: 500px;	
}
/* 사진 첨부 */
#photo	{
	margin: 10px 0;
    background-color: #F1F1F1;
    width: 100%;
    height: 65px;
    padding: 20px;
}