*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
#findPwd_wrap{
	width: 1300px;
	margin: 0 auto;
	text-align : center;
	margin-top: 80px;
	min-height: 500px;
}
/* 비밀번호 찾기 문구*/
#findPwd_wrap h1{
	display : inline-block;
	width: 500px;
	text-align : left;
	position: relative;
	top:48px;
}
#findPwd_wrap img{
	width: 150px;
    position: relative;
    top: 9px;
}
.line{
	display : inline-block;
	width: 500px;
	border: 1px solid gray;
	margin: 5px 0 30px;
}
#findwrap b{
	 background-color: rgba(80, 255, 0, 0.3);
	
}