*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* 푸터 감싼 부분 */
footer{
	width: 100%;
	background-color: #F1F1F1; 
}

/* 푸터 */
#foot{
	width: 1300px;
	height : 75px;
	margin: 0 auto;
	text-align :center;
	padding: 20px;
}

/* 텍스트*/
#foot #shopInfo p{
	font-size: 12px;
}
#foot #shopInfo p:last-child{
	font-size: 10px;
	margin-top: 5px;
}
@media screen and (max-width:768px){
	#foot{
	width: 100%;
	}
}
	