*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #717171;
}

/* 헤더 감싼 부분 */
header{
	width: 100%;
}

/* 헤더 */
#head{	
	width: 1300px;
	height : 80px;
	margin: 0 auto;
	text-align :center;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	
}
/* 로고  */
#head .logo img{
	height: 50px;
}

/* 게시판 */
#head .boards{
	display: flex;
	list-style: none;
}

#head .boards li{
	padding : 10px 30px;  
	margin : 0 10px;
	font-size:25px;
	font-weight: bolder;
	cursor: pointer;
	border: 4px solid white;
	border-radius: 30px;
}
#head .boards li:hover{
	color:black;
	border-color: #EBD6EB;	
}

/* 유저 */
#head .user{
	color : #A8A8A8;
	font-weight: bolder;
    position: relative;
    bottom: 7px;    
    width: 250px;
}
/*로그인 안했을 때*/
.nolog{
	position: relative;
    top: 7px;
}
.user img{  /* 종 이미지*/
	width: 32px;
    position: relative;
    top: 9px;
    right: 10px;
}
.user a{
    display: inline-block;
}
.user a.logid{
	width: 100px;	
}
#head .user:hover{
	color:black;
}
.log a{
	position: relative;
    top: 7px;
}