@charset "UTF-8";




*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}


#mpwrap{
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	
}

/* 왼쪽 사이드바 정렬 */
#mpside {
	
	width: 200px;
	height: 560px;
	border-right: 2px solid silver;	
	border-left: 2px solid silver;	
}

/* 버튼 위쪽 회원 이미지 or 그림 */
#mpsidetop{
	
	height: 180px;
	border-bottom: 2px solid silver;
}


/* 왼쪽 사이트 버튼 */
#mpsidebutton{
	list-style: none;
}


/* 왼쪽 사이트 버튼 */
#mpsidebottom{
	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	
}

/* 왼쪽 사이트 버튼 */
.button{
	
	width: 150px;
	height: 30px;
	margin: 10px;
	padding: 3px;
	color: black;
	border: 2px;
	border-radius: 5px;
	background-color: silver;
	display: flex;
	flex-flow: column;
	text-align: center;
	
}

.button:hover{
	color: skyblue;
}


/* 마이페이지 내용보여지는 부분 */
#mpcontents {
	width: 1100px;
	/* height: 550px; */
	
}




