@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#myBordWarp{	
	width: 1300px;
	margin: 0 auto; 
	text-align: center;
	display:flex;	
}

aside{
	border-right:2px solid gray;
	width: 20%;
}
aside img{
	width: 150px;
}
aside p{
	border-bottom: 2px solid gray;
}
 

.nav li{
	width:150px;
		
	height: 40px;
	
    background-color: gray;

    border: 2px solid black;

    color:white;

    padding: 0px;

    text-align: center;
    
    vertical-align:middle;

    display: inline-block;

    font-size: 20px;

    margin: 4px;
    
    border-radius: 5px;

}

.nav li:hover{
	background-color: skyblue;
}


#infowrap{
	
	width: auto;
	height: auto;
	margin: 150px;
	
}


