*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

#myboardWrap{
	width: 1300px;
	margin: 30px auto;
	text-align : center;
    min-height: 600px;
}
#mypage{
	width: 1300px;
	margin: 30px auto;
	text-align : center;
}
/*aside*/
#mypageBtns{
	float:left;
	width: 20%;
	height : 600px;
	border: 3px solid #CCC;
	border-radius: 10px;
	padding: 30px 20px 50px 20px;	
}
#mypageBtns img{
	width: 200px;
	margin-bottom: 20px;
}
#mypageBtns li{
	height: 50px;
	background-color: #A9DFED;
	border-radius : 10px;
	margin: 20px 5px;
	font-size: 18px;
	font-weight: bolder;
	padding: 13px;
}

#mypageBtns a{
	display: block;
	text-decoration: none;
	color:black;
}
/*�궡 �젙蹂�*/
#mypageInfo{
	display:inline-block;
	width: 60%;
}
#mypageInfo h1{
	margin-bottom: 50px;
}
#mypageInfo li{
	margin: 20px;
}
#mypageInfo label{
	display:inline-block;
	width: 100px;
	font-weight: bolder;
}
#mypageInfo input, #mypageInfo select{
	width: 200px;
	height: 35px;
	border-bottom: 2px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	padding: 0 10px;
}
#mypageInfo input:hover, #mypageInfo select:hover{	
	border-bottom: 2px solid #A9DFED;
}

#mypageInfo input[type="submit"]{
	margin : 30px 0 5px;
	border : 1px solid black;
	border-radius : 5px;
	width: 100px;
	height: 45px;
}
 #mypageInfo ul li a{
 	font-size: 12px;
 	color : gray;
 }
 

