@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

ul {
	list-style: none;
}

#mypage{
	width: 1300px;
	margin: 30px auto;
	text-align : center;
	min-height: 600px;
}

/*aside*/
#mypageBtns{
	float:left;
	width: 20%;
	height: 600px;
	border: 3px solid #CCC;
	border-radius: 10px;
	padding: 30px 20px 50px 20px;	
}
#mypageBtns img{
	width: 200px;
	margin-bottom: 20px;
}
#mypageBtns li{
	height: 50px;
	background-color: #A9DFED;
	border-radius : 10px;
	margin: 20px 5px;
	font-size: 18px;
	font-weight: bolder;
	padding: 13px;
}

#mypageBtns a{
	display: block;
	text-decoration: none;
	color:black;
}


/* 댓글목록 */
#replywrap{
	width: 60%;
	display: inline-block;
}
table{
	border-collapse: collapse;
	margin: 30px auto;	
}
table thead tr th{
	text-align: left;
	background-color: #37419A;
	padding: 10px 20px;
	color:white;
}

table tbody tr{
	height: 30px;	
	border-bottom: 2px solid #A9DFED;
}
table td{
	padding: 20px;
	
}

#myreplycss{
	text-align: left;
	padding-left: 40px;
}
/*페이징 바*/
.page1{
	margin-top: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px 5px;
}
.page2{
	display: inline-block;
    margin: 30px;
}
.page2 a{
     display: inline-block;
    background-color: #DBAADB;
    color: white;
    font-weight: 900;
    font-size: 20px;
    padding: 20px;
    width: 50px;
    margin: 5px;
    height: 50px;
    line-height: 9px;
    border-radius: 10px;
}
.page2 a.ispage{
    pointer-events: none;
    cursor: default;
    background-color: #EBD6EB;
}

.page3{
	margin-top: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px 5px;
}

/*이전, 다음*/
.next{
	font-size: 35px;
    position: relative;
    color: #DBAADB;
    top: 6px;
}

