*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}

#sign_wrap{
	width: 1300px;
	margin: 0 auto;
	text-align : center;
	min-height: 500px;
}

#sign_wrap h2{
	font-size : 36px;
	margin: 40px 0;	
}
#sign_wrap li{
	margin-bottom: 15px;
}
/*라벨*/
#sign_wrap li label{
	display:inline-block;
	width : 260px;
	text-align: left;
	font-size: 14px;
	font-weight: bolder;
}

#sign_wrap form input,
#sign_wrap select{
	width : 260px;
	height: 45px;
	margin: 7px 0;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
}
#sign_wrap form input:hover{
	border: 2px solid black;
}


/* 로그인 버튼 */
#sign_wrap li:last-child {
	margin-top: 15px;
}
#sign_wrap a{
	text-decoration: none;
	margin : 5px;
	color: #717171;
}
#sign_wrap a:hover{
	color: black;
	margin: 5px;
	text-decoration: underline;
}